<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA CARGOS</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el cargo a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de cargos creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1>            
                    <th>Name</th>
    <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Cargo</th>
          <th>Fecha Creacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cam, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.detcarguser}}</td>
          <td>{{c.datecreatcarguser}}</td>
          <td>{{c.estado_carguser}}</td>
          <td><button>editar</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  
</div>

