<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">CREACION DE DIAGNOSTICOS</h4>
          </div>
        </div>
      </div>
    </div>
    
    <form>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">Codigo del diagnostico:</label>
          <input type="text" class="form-control" id="nomhab" placeholder="Digite el codigo del diagnostico" name="nomhab" style="width: min-content;">
        </div>
        <div class="col-md-4">
          <label class="form-label">Diagnostico:</label>
          <input type="text" class="form-control" id="dethab" placeholder="Digite el diagnostico" name="dethab" style="width: min-content;">
        </div>
        <div class="col-md-4">
            <label class="form-label">Detalle del diagnostico:</label>
            <input type="text" class="form-control" id="dethab" placeholder="Digite el detalle del diagnostico" name="dethab" style="width: min-content;">
          </div>

          
          <div class="col-md-4">
            <label class="form-label">Edad minima:</label>
            <input type="text" class="form-control" id="dethab" placeholder="Digite la edad minima" name="dethab" style="width: min-content;">
          </div>
          <div class="col-md-4">
              <label class="form-label">Edad maxima:</label>
              <input type="text" class="form-control" id="dethab" placeholder="Digite la edad maxima" name="dethab" style="width: min-content;">
            </div>
          <div class="col-md-4">
                <div class="col-md-12">
                    <label class="form-label">Capitulo:</label>
                    <input type="text" class="form-control" id="nomhab" placeholder="Digite el codigo del diagnostico" name="nomhab" style="width: min-content;">
                    
                  </div>
          </div>

          <div class="col-md-4">
            <div class="col-md-12">
                <label class="form-label">Sexo:</label>
                <select id="ubicahab">
                  <option value="">Seleccione sexo</option>
                </select>
              </div>
          </div>



      </div>      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>