<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h2 class=" title">Creacion de Diagnosticos</h2></div>
        <div class=" card-body">
          <form [formGroup]="formdx" (ngSubmit)="creaDx">
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Codigo del diagnostico </label>
                  <input
                    class=" form-control"
                    placeholder="Codigo"
                    type="text"
                    formControlName="iddx"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Diagnostico </label>
                  <input
                    class=" form-control"
                    placeholder="Diagnostico"
                    type="text"
                    formControlName="nomdx"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label > Detalle del diagnostivo </label>
                  <input
                    class=" form-control"
                    placeholder="Detalle"
                    type="text"
                    formControlName="descdx"
                  />
                </div>
              </div>
              
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Sexo al que aplica  </label>
                  <select class="form-select" style="width: auto;" formControlName="sexdx">
                    <option>Seleccione el sexo</option>
                    <option>MASCULINO</option>
                    <option>FEMENINO</option>
                    <option>AMBOS</option>
                  </select>
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Edad minima </label>
                  <input
                    class=" form-control"
                    placeholder="Edad minima"
                    type="text"
                    formGroupName="edadmindx"

                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                <div class=" form-group">
                  <label> Edad maxima </label>
                  <input
                    class=" form-control"
                    placeholder="Edad maxima"
                    type="text"
                    formControlName="edadmaxdx"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3">
                <div class=" form-group">
                  <label> Capitulo del diagnostico</label>
                  <input
                    class=" form-control"
                    placeholder="Capitulo"
                    type="text"
                    formControlName="capdx"
                  />
                </div>
              </div>
            </div> 
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit" [disabled]="formdx.invalid">Save</button>
            </div>           
          </form>
        </div>
        
      </div>
    </div>
    
  </div>
</div>