<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">CREACION DE CIUDADES</h4>
          </div>
        </div>
      </div>
    </div>
    
    <form>
      <div class="row">
        <div class="col-md-3">
          <label class="form-label">Codigo de la ciudad:</label>
          <input type="text" class="form-control" id="codciu" placeholder="Digite el codigo a crear" name="codciu" style="width: min-content;">
        </div>
        <div class="col-md-3">
          <label class="form-label">Detalle de la ciudad:</label>
          <input type="text" class="form-control" id="nomciu" placeholder="Digite la ciudad" name="nomciu" style="width: min-content;">
        </div>
        
        <div class="col-md-12">
          <label class="form-label">Seleccione el departamento:</label>
          <select id="ubicahab">
            <option value="">Seleccione un departamento</option>
          </select>
        </div>
      </div>      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>