<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h2 class=" title">Creacion de Ciudades</h2></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Codigo de la ciudad </label>
                  <input
                    class=" form-control"
                    placeholder="Digita el codigo"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Ciudad </label>
                  <input
                    class=" form-control"
                    placeholder="Ciudad"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Departamento </label>
                  <select class="form-select" style="width: auto;">
                    <option>Seleccione el departamento</option>
                  </select>
                </div>
              </div>
              
              
            </div>
            
            
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>