<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header"><h1 class=" title">Adición de procedimientos a descripción</h1></div>
                <div class="card-body">
                    <form>
                        <div class=" row">
                            <div class=" col-md-4 pr-md-1">
                             <div class=" form-group">
                               <label> Documento </label>
                               <input
                                 class=" form-control"
                                 type="text"
                                 disabled="true"
                               />
                             </div>
                           </div>
             
                           <div class=" col-md-4 pr-md-1">
                             <div class=" form-group">
                               <label> Evento </label>
                               <input
                                 class=" form-control"
                                 type="text"
                                 disabled="true"
                               />
                             </div>
                           </div>
             
                       </div>
                       <div class="row">
                       <div class=" col-md-3 pr-md-1">
                           <div class=" form-group">
                             <label> Primer Nombre </label>
                             <input
                               class=" form-control"
                               type="text"
                               disabled="true"
                             />
                           </div>
                         </div>
                         <div class=" col-md-3 pr-md-1">
                           <div class=" form-group">
                             <label> Segundo Nombre </label>
                             <input
                               class=" form-control"
                               disabled="true"
                               type="text"
                             />
                           </div>
                         </div>
                         <div class=" col-md-3 pr-md-1">
                           <div class=" form-group">
                             <label> Primer Apellido </label>
                             <input
                               class=" form-control"
                               disabled="true"
                               type="text"
                             />
                           </div>
                         </div>
                         <div class=" col-md-3 pr-md-1">
                           <div class=" form-group">
                             <label> Segundo Apellido </label>
                             <input
                               class=" form-control"
                               disabled="true"
                               type="text"
                             />
                           </div>
                         </div>
                         <div class=" card-header col-md-12"><h3 class=" title">Insertar procedimientos realizados</h3></div>
                         <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Id Descripción quirurgica </label>
                              <input
                                class=" form-control"
                                disabled="true"
                                type="text"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Procedimiento Practicado </label>
                              <input
                                class=" form-control"
                                disabled="true"
                                type="text"
                              />
                              <a routerLink="">Consulta procedimientos</a>
                            </div>
                          </div>
                          <table class="table table-dark table-hover" >
                            <!--<table class="table-success">-->
                            <thead>
                              <tr>
                                <th>Item</th>
                                <th>Id Descripción quirurgica</th>
                                <th>Codigo del procedimiento</th>
                                <th>Procedimiento realizado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let c of pxdesc, let i =index">
                                <td>{{i+1}}</td>
                                <td>{{c.detcarguser}}</td>
                                <td>{{c.codpxex}}</td>
                                <td>{{c.nompxex}}</td>
                                
                      
                              </tr>
                            </tbody>
                          </table>
                       </div>
                       <div class=" card-footer">
                        <button class=" btn btn-fill btn-danger" type="submit" (click)="iradddx()">Save</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

