<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA PRESTADOR DE SERVICIO</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el prestador a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de prestadores de servicio creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1>  
    <form class="d-flex">
      <button class="btn btn-primary" type="button" (click)="irCreaprestador()"  >Crear Camas</button>    
</form>           
     <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Prestador de servicio</th>
          <th>Tipo de documento del prestador</th>
          <th>Documento del prestador</th>
          <th>Dirección</th>
          <th>Telefono del prestador</th>
          <th>Correo electronico del prestador</th>
          <th>Fecha de creación</th>
          <th>Ciudad</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of prestador, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.nomprestserv}}</td>
          <td>{{c.tipdocprestserv_fk.tipdoc}}</td>
          <td>{{c.docprestserv}}</td>
          <td>{{c.dirprestserv}}</td>
          <td>{{c.telprestserv}}</td>
          <td>{{c.emailprestserv}}</td>
          <td>{{c.fechacreaprestserv}}</td>
          <td>{{c.ciuprestserv_fk.nomciu}}</td>
          <td>{{c.estadoprestserv_fk.nomstatus}}</td>
          <td><button>editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
