<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA ORIGENES Y DESTINOS</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el origen o destino a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de origenes y destinos creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1>   
    <form class="d-flex">
      <button class="btn btn-primary" type="button" (click)="irCreaorigdes()"  >Crear Camas</button>    
    </form>          
     <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Origen o Destino</th>
          <th>Detalle Origen o Destino</th>
          <th>Fecha de creación</th>
          <th>Estado</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of origdes, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.nomorgdes}}</td>
          <td>{{c.detorgdes}}</td>
          <td>{{c.datecreatorgdes}}</td>
          <td>{{c.estorgdes_fk.nomstatus}}</td>
          <td><button>editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
