<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA ENTIDADES</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita la cama a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de entidades responsables de pago creadas</h2>
    <h1 *ngIf="!ready">Cargando...</h1>  
    <form class="d-flex">
      <button class="btn btn-primary" type="button" (click)="irCreaentidad()"  >Crear Entidades</button>    
    </form>          
     <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Entidad</th>
          <th>Contacto</th>
          <th>Correo electronico</th>
          <th>Nombre del representante</th>
          <th>Fecha creacion</th>
          <th>Tipo de entidad</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of entidades, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.nomeapb}}</td>
          <td>{{c.contaceapb}}</td>
          <td>{{c.emaileapb}}</td>
          <td>{{c.gerenteapb}}</td>
          <td>{{c.datecreateapb}}</td>
          <td>{{c.tipent.nomtipeapb}}</td>
          <td>{{c.esteapb_fk.detstatus}}</td>
          <td><button>editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
