<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">CREACION DE DEPARTAMENTOS</h4>
        </div>
      </div>
    </div>
  </div>
  
  <form>
    <div class="row">
      <div class="col-md-3">
        <label class="form-label">Codigo del departamento:</label>
        <input type="text" class="form-control" id="coddep" placeholder="Digite el codigo a crear" name="coddep" style="width: min-content;">
      </div>
      <div class="col-md-3">
        <label class="form-label">Detalle del departamento:</label>
        <input type="text" class="form-control" id="nomdep" placeholder="Digite el departamento" name="nomdep" style="width: min-content;">
      </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>