<div class="content"> 
  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h1 class="title">Edicion de Ordenes de medicamentos</h1>
          </div>
          <div class="card-body">
            <form [formGroup]="formEditOrdmedins">
               
              <div class="card-header">
                <h3 class="title">Datos del paciente</h3>
              </div>

              <div class="row">
                <div class="col-md-3 pr-md-1" *ngFor="let campo of camposPaciente">
                  <div class="form-group">
                    <label>{{ campo.label }}</label>
                    <input class="form-control" 
                           disabled [formControlName]="campo.nombre" />
                  </div>
                </div>       
              </div>

              <div class="row">
                <div class="card-header col-md-12">
                    <h3 class="title">Orden de medicamentos o insumos a editar</h3>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-2 pr-md-1" >
                  <div class="form-group">
                    <label>Orden Medica</label>
                    <input class="form-control" 
                           formControlName="idordmedins"
                           disabled="true"
                           style="margin-right: 8px;"/>
                  </div>
                </div>  
              </div>

              <div class="row">
                <!-- Iterar campos de orden de medicamentos -->
                <div class="col-md-3 pr-md-1" *ngFor="let campo of camposOrdenMedins; let i = index">
                  <div class="form-group">                    
                    <label>{{ campo.label }}</label>
                    
                    <!-- Campo con búsqueda dinámica para Medicamento -->
                    <div class="position-relative">
                    <ng-container *ngIf="campo.nombre === 'medins'">
                      <input class="form-control"
                             type="text"
                             [formControlName]="campo.nombre"
                             disabled
                             (input)="getMedins($event.target.value)"                                                          
                             autocomplete="off"/>
              
                      <ul *ngIf="medins.length > 0" class="list-group position-absolute w-100" style="z-index: 1050;">
                        <li *ngFor="let med of medins" 
                            class="list-group"
                            (click)="seleccionarMedicamento(med)">
                          {{ med.medins }}
                        </li>
                      </ul>
                    </ng-container>
                  </div>
                    <!-- Campo con búsqueda dinámica para Presentación -->
                    <ng-container *ngIf="campo.nombre === 'detpmedins'">
                      <input class="form-control"
                             type="text"
                             [formControlName]="campo.nombre"
                             disabled
                             (input)="getPresentacionmedins($event.target.value)"                              
                             autocomplete="off"/>
              
                      <ul *ngIf="pmedins.length > 0" class="list-group position-absolute w-100 zindex-dropdown">
                        <li *ngFor="let p of pmedins" 
                        class="list-group"
                            (click)="seleccionarpresentacion(p)">
                          {{ p.detpmedins }}
                        </li>
                      </ul>
                    </ng-container>
              
                    <!-- Campo con búsqueda dinámica para Unidades -->
                    <ng-container *ngIf="campo.nombre === 'detunimedi'">
                      <input class="form-control"
                             type="text"
                             [formControlName]="campo.nombre"
                             disabled
                             (input)="getUnimedins($event.target.value)"                              
                             autocomplete="off"/>
              
                      <ul *ngIf="unimedins.length > 0" class="list-group position-absolute w-100 zindex-dropdown">
                        <li *ngFor="let u of unimedins" 
                        class="list-group"
                            (click)="seleccionarunidades(u, i)">
                          {{ u.detunimedi }}
                        </li>
                      </ul>
                    </ng-container>
              
                    <!-- Campos normales -->
                    <ng-container *ngIf="campo.nombre !== 'medins' && campo.nombre !== 'detpmedins' && campo.nombre !== 'detunimedi'">
                      <input class="form-control"
                             [type]="campo.type"
                             [formControlName]="campo.nombre"
                            disabled/>
                    </ng-container>
                  </div>
                </div>
              </div>
              

              

              
                    <div class="card-footer">
                      <button class="btn btn-fill btn-danger" type="submit" (click)="updateordmedins()">Save</button>
                      
                    </div>
                 
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
                 
                
