<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h1 class=" title">  HISTORIA CLINICA</h1></div>
            <div class="card-body">
              <form [formGroup]="formHC">
                    <div class = "style=">
                      <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Consultar paciente" style="width: 40%;">
                        <button class="btn btn-primary" type="button">Search</button>
                      </form>
                    </div>
  
                    <div class=" card-header col-md-12"><h3 class=" title">Datos personales</h3></div>
  
                    <div class=" row">
                      <div class=" col-md-4 pr-md-1">
                       <div class=" form-group">
                         <label> Documento </label>
                         <input
                           class=" form-control"
                           type="text"
                           disabled="true" 
                           formControlName="numdocpac"
                         />
                       </div>
                     </div>
       
                     <div class=" col-md-4 pr-md-1">
                       <div class=" form-group">
                         <label> Evento </label>
                         <input
                           class=" form-control"
                           type="text"
                           disabled="true"
                           formControlName="conseventpac"
                         />
                       </div>
                     </div>

                     <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> identificador del evento </label>
                        <input
                          class=" form-control"
                          type="text"
                          disabled="true"
                          formControlName="idevent"
                        />
                      </div>
                    </div>
                     
                    </div>
                     <div class="row">
                     <div class=" col-md-3 pr-md-1">
                      <div class=" form-group">
                        <label> Primer Nombre </label>
                        <input
                          class=" form-control"
                          type="text"
                          disabled="true"
                          formControlName="primernompac"
                        />
                      </div>
                    </div>
                    <div class=" col-md-3 pr-md-1">
                      <div class=" form-group">
                        <label> Segundo Nombre </label>
                        <input
                          class=" form-control"
                          disabled="true"
                          type="text"
                          formControlName="segundonompac"
                        />
                      </div>
                    </div>
                    <div class=" col-md-3 pr-md-1">
                      <div class=" form-group">
                        <label> Primer Apellido </label>
                        <input
                          class=" form-control"
                          disabled="true"
                          type="text"
                          formControlName="primerapepac"
                        />
                      </div>
                    </div>
                    <div class=" col-md-3 pr-md-1">
                      <div class=" form-group">
                        <label> Segundo Apellido </label>
                        <input
                          class=" form-control"
                          disabled="true"
                          type="text"
                          formControlName="segundoapepac"
                        />
                      </div>
                    </div>
                  </div>
                    <div class=" card-header col-md-12"><h3 class=" title">Talla del paciente</h3></div>
                        <div class="row">
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Estatura en centimetros </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Estatura"
                                formControlName="estaturahcpac"
                                (keyup)="calculaIMC()"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Peso en Kilogramos </label>
                              <input
                                class=" form-control"
                                placeholder="Peso"
                                type="text"
                                formControlName="pesohcpac"
                                (keyup)="calculaIMC()"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Indice de masa corporal </label>
                              <input
                                class=" form-control"
                                type="text"
                                disabled="true"
                                [value]="imchcpac"
                              />
                            </div>
                          </div>
                        </div>
                    <div class=" card-header col-md-12"><h3 class=" title">Signos vitales</h3></div>
                        <div class="row">
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Frecuencia cardiaca </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="FC"
                                formControlName="fchcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Frecuencia respiratoria </label>
                              <input
                                class=" form-control"
                                placeholder="FR"
                                type="text"
                                formControlName="frhcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Temperatura </label>
                              <input
                                class=" form-control"
                                placeholder="Temperatura"
                                type="text"
                                formControlName="temphcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-3 pr-md-1">
                            <div class=" form-group">
                              <label> Tensión Arterial </label>
                              <input
                                class=" form-control"
                                placeholder="Tensión Arterial"
                                type="text"
                                formControlName="tahcpac"
                              />
                            </div>
                          </div>
                        </div>
                        <div class=" card-header col-md-12"><h3 class=" title">Antecedentes</h3></div>
                        <div class="row">
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Patologicos </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Patologicos"
                                formControlName="antpathcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Quirurgicos </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Quirurgicos"
                                formControlName="antqxhcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Alergicos </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Alergicos"
                                formControlName="antalerhcpac"
  
                              />
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Farmacologicos </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Farmacologicos"
                                formControlName="antfarmhcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Familiares </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Familiares"
                                formControlName="antfamyhcpac"
                              />
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                              <label> Traumaticos </label>
                              <input
                                class=" form-control"
                                type="text"
                                placeholder="Familiares"
                                formControlName="anttxhcpac"
                              />
                            </div>
                          </div>
                        </div>   
                    <div class=" card-header col-md-12"><h3 class=" title">Evolución medica</h3></div>
                        <div class="row">
                          <div class=" col-md-4 pr-md-1">
                            <div><label>Motivo de consulta</label></div>
                            <div class=" form-group">
                               <textarea 
                               rows="5" 
                               cols="50" 
                               class="form-control"
                               formControlName="motconshcpac">
                              </textarea>
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div><label>Enfermedad actual</label></div>
                            <div class=" form-group">
                               <textarea rows="5" cols="50" class="form-control" formControlName="enfacthcpac"></textarea>
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div><label>Objetivo</label></div>
                            <div class=" form-group">
                               <textarea rows="5" cols="50" class="form-control" formControlName="objhcpac"></textarea>
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div><label>Analisis</label></div>
                            <div class=" form-group">
                               <textarea rows="5" cols="50" class="form-control" formControlName="analisishcpac"></textarea>
                            </div>
                          </div>
                          <div class=" col-md-4 pr-md-1">
                            <div><label>plan de manejo</label></div>
                            <div class=" form-group">
                               <textarea rows="5" cols="50" class="form-control" formControlName="planmanejhcpac"></textarea>
                            </div>
                          </div>
                        </div>
                        <app-creadiagnosticosatencion #diagnosticosComp></app-creadiagnosticosatencion>
                    
                        <div class=" card-footer">
                          <button class=" btn btn-fill btn-danger" type="submit" (click)="guardarTodo()">Save</button>
                        </div>
               </form>
              </div>
            </div>
          </div>
      </div>
  </div>
