<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h1 class=" title">Maestro de configuraciones</h1>
            <p class=" category">
              <!--Handcrafted by our friends from
              <a href="https://nucleoapp.com/?ref=1712"> NucleoApp </a>-->
            </p>
          </div>
          <div class=" card-body all-icons">
            <div class=" row">
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-alert-circle-exc"> </i>
                  <p>Panel de Camas</p>
                  <a routerLink="/camas">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-align-center"> </i>
                  <p>Panel de Cargos</p>
                  <a routerLink="/cargos">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-align-left-2"> </i>
                  <p>Panel de Ciudades</p>
                  <a routerLink="/ciudades">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-app"> </i>
                  <p>Panel de Departamentos</p>
                  <a routerLink="/departamentos">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-atom"> </i>
                  <p>Panel de Diagnosticos</p>
                  <a routerLink="/diagnosticos">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-attach-87"> </i>
                  <p>Panel de entidades</p>
                  <a routerLink="/entidades">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-badge"> </i>
                  <p>Panel de Estados</p>
                  <a routerLink="/estados">ir a panel</a>
                </div>
              </div>
              <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bold"> </i>
                      <p>Panel de Usuarios</p>
                      <a routerLink="/usuarios">ir a panel</a>
                    </div>
                  </div>
              <!--<div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-bag-16"> </i>
                  <p>Panel de origenes y destinos</p>
                  <a routerLink="/origendestino">ir a panel</a>
                </div>
              </div>-->
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-bank"> </i>
                  <p>Panel de Permisos por Rol</p>
                  <a routerLink="/permisorol">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-basket-simple"> </i>
                  <p>Panel de Permisos</p>
                  <a routerLink="/permisos">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-bell-55"> </i>
                  <p>Panel Plantillas</p>
                  <a routerLink="/plantillas">ir a panel</a>
                </div>
              </div>
              <div
                class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
              >
                <div class=" font-icon-detail">
                  <i class=" tim-icons icon-bold"> </i>
                  <p>Prestador de Servicio</p>
                  <a routerLink="/prestadorservicio">ir a panel</a>
                </div>
              </div>
            <div class=" card-body all-icons">
                <div class=" row">
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-alert-circle-exc"> </i>
                      <p>Panel Procedimiento y Examenes</p>
                      <a routerLink="/procedimientoexamenes">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-align-center"> </i>
                      <p>Representante Legal</p>
                      <a routerLink="/representantelegal">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-align-left-2"> </i>
                      <p>Panel de Roles</p>
                      <a routerLink="/roles">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-app"> </i>
                      <p>Panel de Tipo de Anestesia</p>
                      <a routerLink="/tipoanestesia">ir a panel</a>

                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-atom"> </i>
                      <p>Panel de Tipo de Documentos</p>
                      <a routerLink="/tipodocumentos">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-attach-87"> </i>
                      <p>Panel de tipo de Diagnosticos</p>
                      <a routerLink="/tipodx">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bag-16"> </i>
                      <p>Panel de Tipos de EAPB</p>
                      <a routerLink="/tipoeapb">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bag-16"> </i>
                      <p>Panel de Tipos de notas</p>
                      <a routerLink="/tiponota">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bank"> </i>
                      <p>Panel de Tipos de Pacientes</p>
                      <a routerLink="/tipopaciente">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-basket-simple"> </i>
                      <p>Panel de Tipos de plantillas</p>
                      <a routerLink="/tipoplantilla">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bell-55"> </i>
                      <p>Panel de Tipo de Procedimientos</p>
                      <a routerLink="/tipopx">ir a panel</a>
                    </div>
                  </div>
                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bold"> </i>
                      <p>Panel de Ubicaciones</p>
                      <a routerLink="/ubicaciones">ir a panel</a>
                    </div>
                  </div>

                  <div
                    class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
                  >
                    <div class=" font-icon-detail">
                      <i class=" tim-icons icon-bold"> </i>
                      <p>Panel de Tipos de Heridas</p>
                      <a routerLink="/tipohx">ir a panel</a>
                    </div>
                  </div>
                  <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-bell-55"> </i>
                    <p>Panel de conductas</p>
                    <a routerLink="/conducta">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-app"> </i>
                    <p>Panel de Tipos de medins</p>
                    <a routerLink="/tipomedins">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-app"> </i>
                    <p>Panel de Presentación medins</p>
                    <a routerLink="/presentacionmedins">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-app"> </i>
                    <p>Panel de unidades de medida</p>
                    <a routerLink="/unidadmedidamedins">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-app"> </i>
                    <p>Panel de fabricantes</p>
                    <a routerLink="/fabricantemedins">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-app"> </i>
                    <p>Panel de medicamentos o insumos</p>
                    <a routerLink="/medins">ir a panel</a>
                  </div>
                </div>

                <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class=" font-icon-detail">
                    <i class=" tim-icons icon-heart-2"> </i>
                    <p>Panel para crear vias</p>
                    <a routerLink="/viaadministracion">ir a panel</a>
                  </div>
                </div>

                </div>
              </div> 
            </div>
          </div> 
                