<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA ROLES</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el rol a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de roles creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1>            
     <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Rol</th>
          <th>Descripción del rol</th>
          <th>Fecha de creación</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of roles, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.nomrol}}</td>
          <td>{{c.desrol}}</td>
          <td>{{c.creatrol}}</td>
          <td>{{c.estrol_fk.nomstatus}}</td>
          <td><button>editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
