<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="title">Creación de permisos por rol</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="formpermrol" (ngSubmit)="creaPermRol()">
            <div formArrayName="items">
              <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="row">
                <div class="col-md-3 pr-md-1">
                  <div class="form-group">
                    <label>Roles</label>
                    <br>
                    <select class="form-select" style="width: auto;" formControlName="rolpermrol_fk">
                      <option value="" disabled selected>Seleccione el rol</option>
                      <option *ngFor="let roles of rol" [value]="roles.idrol">{{roles.desrol}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 pr-md-1">
                  <div class="form-group">
                    <label>Permisos</label>
                    <br>
                    <select class="form-select" style="width: auto;" formControlName="permrol_fk">
                      <option value="" disabled selected>Seleccione el permiso</option>
                      <option *ngFor="let perm of permisos" [value]="perm.idperm">{{perm.detperm}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2 pr-md-1">
                  <button type="button" class="btn btn-danger" (click)="removePermRol(i)">Eliminar</button>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button type="button" class="btn btn-primary" (click)="addPermRol()">Agregar Permiso</button>
              <button class="btn btn-fill btn-danger" type="submit" [disabled]="formpermrol.invalid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
