<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h1 class=" title">Evolucion de enfermeria</h1></div>
        <div class=" card-body">
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Consultar paciente">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
          <form [formGroup]="formevoenf">
            
            <div class=" card-header col-md-12"><h3 class=" title">Datos personales</h3></div>
          <div class=" row">
               <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Documento </label>
                  <input
                    class=" form-control"
                    type="text"
                    disabled="true"
                    formControlName="numdocpac"
                  />
                </div>
              </div>

              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Evento </label>
                  <input
                    class=" form-control"
                    type="text"
                    disabled="true"
                    formControlName="idevent"
                  />
                </div>
              </div>

          </div>
          <div class="row">
          <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Primer Nombre </label>
                <input
                  class=" form-control"
                  type="text"
                  disabled="true"
                  formControlName="primernompac"
                />
              </div>
            </div>
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Segundo Nombre </label>
                <input
                  class=" form-control"
                  disabled="true"
                  type="text"
                  formControlName="segundonompac"
                />
              </div>
            </div>
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Primer Apellido </label>
                <input
                  class=" form-control"
                  disabled="true"
                  type="text"
                  formControlName="primerapepac"
                />
              </div>
            </div>
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Segundo Apellido </label>
                <input
                  class=" form-control"
                  disabled="true"
                  type="text"
                  formControlName="segundoapepac"
                />
              </div>
            </div>
          </div>
          <div class=" card-header col-md-12"><h3 class=" title">Nota de evolucion de enfermeria</h3></div>

          <div class="row">
            
              <div class=" card-header col-md-12"><h3 class=" title">Evolución</h3></div>
              <div class=" col-md-12 pr-md-1">
                <div class=" form-group">
                  
                  <textarea rows="10" cols="100" class="form-control" formControlName="detevoenf"></textarea>
                </div>
              </div>

            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit" (click)="creaevoenf()">Save</button>
            </div>
          
          </form>
        </div>
        
      </div>
    </div>
    
  </div>
</div>