<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">PANEL DE ADMINISTRACION PARA PACIENTES</h4>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Digita el paciente a consultar">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="container col-md-12 mt-3">
      <h2>Listado pacientes creados</h2>
      <h1 *ngIf="!ready">Cargando...</h1>   
      <form class="d-flex">
        <button class="btn btn-primary" type="button" (click)="irCreapac()">Crear paciente</button>    
  </form>        
       <table class="table table-dark table-hover" >
        <!--<table class="table-success">-->
        <thead>
          <tr>
            <th>Item</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let c of pac, let i =index">
            <td>{{i+1}}</td>
            <td>{{c.primernompac}} {{c.segundonompac}}</td>
            <td>{{c.primerapepac}} {{c.segundoapepac}}</td>
            <td>{{c.direccionpac}}</td>
            <td>{{c.contactopac}}</td>
            <td>{{c.estpac_fk.detstatus}}</td>
            <td><select class="form-select" style="width: auto;" (change)="redirigir2($event.target.value, c)">
              <option value="" disabled selected>Seleccione el destino</option>
              <hr><hr>
              <option value = "1"  >CITAS</option>
              <option value = "2" >EVENTOS</option>
          </select></td>
           </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
