<div class="content"> 
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h1 class="title">Epicrisis</h1>
            </div>
            <div class="card-body">
              <form [formGroup]="formEpicrisis">
                 
                <div class="card-header">
                  <h3 class="title">Datos del paciente</h3>
                </div>

                <div class="row">
                  <div class="col-md-3 pr-md-1" *ngFor="let campo of camposEpicrisis">
                    <div class="form-group">
                      <label>{{ campo.label }}</label>
                      <input class="form-control" 
                             disabled [formControlName]="campo.nombre" />
                    </div>
                  </div>       
                </div>

                <style> 
                  .centro { 
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    /* height: 100vh; Para centrar verticalmente */ 
                    } 
                    .texto{ 
                      font-size: 20px; 
                      font-weight: bold; 
                      /*color: #000000;*/ 
                    }
            </style>

                <div class="row">
                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Historia Clinica</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('hcpacepi')?.value }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Evoluciones</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('evoeventepi')?.value }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Descripciones Quirurgicas</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('desqxepi')?.value }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Medicamentos Aplicados</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('regmedinsepi')?.value }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Signos Vitales</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('sigvitepi')?.value }}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 pr-md-1">
                    <div class="form-group">
                      <label class="texto">Diagnosticos Atención</label>
                      <div class="form-control-static">
                        {{ formEpicrisis.get('dxateepi')?.value }}
                      </div>
                    </div>
                  </div>


                </div>
                                    
                      <div class="card-footer">
                        <button class="btn btn-fill btn-danger" type="submit" (click)="generaPDF()">Generar PDF</button>
                      </div>
                   
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
                   
                  
