<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA DEPARTAMENTOS</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el departamento a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de departamentos creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1>            
    <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Codigo Departamento</th>
          <th>Departamento</th>
          <th>Fecha de Creacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cam, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.coddep}}</td>
          <td>{{c.nomdep}}</td>
          <td>{{c.datecreatdep}}</td>
          <td>{{c.estdep_fk.nomstatus}}</td>
          <td><button>editar</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  
</div>
