<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">CREACION DE CARGOS</h4>
          </div>
        </div>
      </div>
    </div>
    
    <form>
      <div class="row">
        <div class="col-md-3">
          <label class="form-label">Cargo:</label>
          <input type="text" class="form-control" id="nomcarg" placeholder="Digite el cargo a crear" name="nomcarg" style="width: min-content;">
        </div>
        <div class="col-md-3">
          <label class="form-label">Detalle del cargo:</label>
          <input type="text" class="form-control" id="detcarguser" placeholder="Digite el detalle del cargo" name="detcarguser" style="width: min-content;">
        </div>
      </div>      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
