<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA TIPO DE PROCEDIMIENTOS</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el tipo de procedimiento a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de tipos de procedimientos creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1> 
    <form class="d-flex">
      <button class="btn btn-primary" type="button" (click)="irCreatipopx()"  >Crear Tipo de procedimientos</button>    
</form>           
     <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>Tipo de porcedimiento</th>
          <th>Detalle</th>
          <th>Fecha de creación</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of tipopx, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.nomtproc}}</td>
          <td>{{c.detproc}}</td>
          <td>{{c.datecreatypx}}</td>
          <td>{{c.estypx_fk.nomstatus}}</td>
          <td><button>editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
