<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">PANEL DE ADMINISTRACION PARA DIAGNOSTICOS</h4>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Digita el diagnostico a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container mt-3">
    <h2>Listado de diagnosticos creados</h2>
    <h1 *ngIf="!ready">Cargando...</h1> 
    <form class="d-flex">
      <button class="btn btn-primary" type="button" (click)="irCreaDx()"  >Crear Diagnosticos</button>    
    </form>            
    <table class="table table-dark table-hover" id="" *ngIf="ready" >
      <!--<table class="table-success">-->
      <thead>
        <tr>
          <th>Item</th>
          <th>CIE10</th>
          <th>Diagnostico</th>
          <th>Descripcion</th>
          <th>Sexo</th>
          <th>Edad minima</th>
          <th>Edad maxima</th>
          <th>Capitulo</th>
          <th>Fecha Creacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of dx, let i =index">
          <td>{{i+1}}</td>
          <td>{{c.iddx}}</td>
          <td>{{c.nomdx}}</td>
          <td>{{c.descdx}}</td>
          <td>{{c.sexdx}}</td>
          <td>{{c.edadmindx}}</td>
          <td>{{c.edadmaxdx}}</td>
          <td>{{c.capdx}}</td>
          <td>{{c.creatdatedx}}</td>
          <td>{{c.estdx_fk.nomstatus}}</td>
          <td><button>editar</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  
</div>
