<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" routerLink="/evolucionenfermeria" aria-controls="evolucionenfermeria" role="tab">Evolucion de enfermeria</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" routerLink="/registrosignosvitales" role="tab">Registro de signos vitales</a>
                </li>
                
              </ul>

            <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane container active" id="evolucionenfermeria"><app-evolucionenfermeria></app-evolucionenfermeria></div>
                  <div class="tab-pane container fade" id="registrosignosvitales"><app-registrosignosvitales></app-registrosignosvitales></div>
                  
                </div>
            
           </div>
        </div>
      </div>
    </div>  

