<div class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h2 class=" title">Creacion de estados</h2></div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Estado </label>
                      <input
                        class=" form-control"
                        placeholder="Estado"
                        type="text"
                      />
                    </div>
                  </div>

                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Detalle de estado </label>
                    <input
                      class=" form-control"
                      placeholder="Detalle estado"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger" type="submit">Save</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
