<div class="content">
    <div class="row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header"><h1 class=" title">  EVOLUCIONES</h1></div>
                <div class=" card-body">
                        <form>
                          <div class = "style=">
                            <form class="d-flex">
                              <input class="form-control me-2" type="text" placeholder="Consultar paciente" style="width: 40%;">
                              <button class="btn btn-primary" type="button">Search</button>
                            </form>
                          </div>
                            <div class=" card-header col-md-12"><h3 class=" title">Datos personales</h3></div>
                            <div class = "row">
                                <div class=" col-md-4 pr-md-1">
                                    <div class=" form-group">
                                      <label> Documento </label>
                                      <input
                                        class=" form-control"
                                        type="text"
                                        disabled="true"
                                      />
                                    </div>
                                  </div>
                    
                                  <div class=" col-md-4 pr-md-1">
                                    <div class=" form-group">
                                      <label> Evento </label>
                                      <input
                                        class=" form-control"
                                        type="text"
                                        disabled="true"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class=" col-md-3 pr-md-1">
                                   <div class=" form-group">
                                     <label> Primer Nombre </label>
                                     <input
                                       class=" form-control"
                                       type="text"
                                       disabled="true"
                                     />
                                   </div>
                                 </div>
                                 <div class=" col-md-3 pr-md-1">
                                   <div class=" form-group">
                                     <label> Segundo Nombre </label>
                                     <input
                                       class=" form-control"
                                       disabled="true"
                                       type="text"
                                     />
                                   </div>
                                 </div>
                                 <div class=" col-md-3 pr-md-1">
                                   <div class=" form-group">
                                     <label> Primer Apellido </label>
                                     <input
                                       class=" form-control"
                                       disabled="true"
                                       type="text"
                                     />
                                   </div>
                                 </div>
                                 <div class=" col-md-3 pr-md-1">
                                   <div class=" form-group">
                                     <label> Segundo Apellido </label>
                                     <input
                                       class=" form-control"
                                       disabled="true"
                                       type="text"
                                     />
                                   </div>
                                 </div>
                               </div>
                            <div class="row">
                                <div class=" col-md-4 pr-md-1">
                                    <div class=" form-group">
                                      <label> Tipo de evolucion </label>
                                      <select class="form-control" style="width: auto;">
                                        <option>Tipo de Evolución</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class=" col-md-6 pr-md-1">
                                    <div><label>Evolucion</label></div>
                                    <div class=" form-group">
                                       <textarea rows="5" cols="50" class="form-control"></textarea>
                                    </div>
                                  </div> 
                                  <div class=" col-md-4 pr-md-1">
                                    <div class=" form-group">
                                      <label> Diagnostico </label>
                                      <input
                                        class=" form-control"
                                        type="text"
                                        placeholder="Diagnostico"
                                      />
                                      <a routerLink="">Consulta Diagnosticos</a>
                                    </div>
                                  </div>
                                  <div class=" col-md-4 pr-md-1">
                                    <div class=" form-group">
                                      <label> Tipo de Diagnostico </label>
                                      <select class="form-control" style="width: auto;">
                                        <option>Tipo de Diagnostico</option>
                                      </select>
                                    </div>
                                  </div>  
                            </div>        
                        </form>
                </div>  
                  
            </div>
        </div>
    </div>
</div>
