<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h2 class=" title">Creacion de pacientes</h2></div>
          <div class=" card-body">
            <form [formGroup]="formpac" (ngSubmit)="creaPaciente()" *ngIf="ready">
            <div class=" row">
                    <div class=" col-md-3 pr-md-1">
                      <div class=" form-group">
                        <label> Tipo de documento </label>
                        <select class="form-select" style="width: auto;" formControlName="typdocpac">
                          <option value="" disabled selected>Seleccione tipo de documento</option>
                          <option *ngFor="let td of tipdoc" [value]="td.idtipdoc">{{td.detatipdoc}}</option>
                        </select>
                      </div>
                    </div>

                <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> Documento </label>
                    <input
                      class=" form-control"
                      placeholder="Documento"
                      type="text"
                      formControlName="numdocpac"
                    />
                  </div>
                </div>
            </div>
            <div class="row">
            <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Primer Nombre </label>
                  <input
                    class=" form-control"
                    placeholder="Primer Nombre"
                    type="text"
                    formControlName="primernompac"
                  />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Segundo Nombre </label>
                  <input
                    class=" form-control"
                    placeholder="Segundo Nombre"
                    type="text"
                    formControlName="segundonompac"
                  />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Primer Apellido </label>
                  <input
                    class=" form-control"
                    placeholder="Primer Apellido"
                    type="text"
                    formControlName="primerapepac"
                  />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Segundo Apellido </label>
                  <input
                    class=" form-control"
                    placeholder="Segundo Apellido"
                    type="text"
                    formControlName="segundoapepac"
                  />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Sexo</label>
                  <p></p>
                  <select class="form-select" style="width: auto;" formControlName="sexopac">
                    <option value="" disabled selected>Seleccione el sexo</option>
                    <option value="FEMENINO">FEMENINO</option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="INDEFINIDO">INDEFINIDO</option>
                  </select>
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                 <label> Fecha de nacimiento </label>
                  <input
                    class=" form-control"
                    placeholder="Segundo Apellido"
                    type="date"
                    formControlName="fechanacpac"
                    (input)="calculaedad($event.target.value)"                  
                  />            
                 
                </div>
              </div>
              
              
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> Edad </label>
                  <input
                    class=" form-control"
                    placeholder="Edad"
                    type="text"
                    value="{{edad}}"
                    disabled = true                     
                  />
                  
                </div>
              </div>
              
                </div>
                
            <div class="row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Estado civil </label>
                  <P></P>
                  <select class="form-select" style="width: auto;" formControlName="estadocivilpac">
                    <option value="" disabled selected>Seleccione el estado civil</option>
                    <option value="MENOR DE EDAD">MENOR DE EDAD</option>
                    <option value="SOLTERO">SOLTERO (A)</option> 
                    <option value="UNION LIBRE">UNION LIBRE</option>
                    <option value="CASADO">CASADO (A)</option>
                    <option value="SEPARADO">SEPARADO (A)</option>
                  </select>
                </div>
              </div>
                <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Dirección </label>
                        <input
                          class=" form-control"
                          placeholder="Dirección"
                          type="text"
                          formControlName="direccionpac"
                        />
                    </div>
                  </div>

                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label> Ciudad </label>
                      <P></P>
                      <select class="form-select" style="width: auto;" formControlName="ciudad">
                        <option value="" disabled selected>Seleccione la ciudad</option>
                        <option *ngFor="let ciu of ciudad" [value]="ciu.idciu">{{ciu.nomciu}}</option>
                      </select>
                    </div>
                  </div>

                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label>Correo electronico </label>
                      <input
                        class=" form-control"
                        placeholder="Correo electronico"
                        type="email"
                        formControlName="emailpac"
                      />
                    </div>
                  </div>
                  
                  <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Contacto del paciente </label>
                      <input
                        class=" form-control"
                        placeholder="Contacto"
                        type="text"
                        formControlName="contactopac"
                      />
                    </div>
                  </div>

                  <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Acompañante del paciente </label>
                      <input
                        class=" form-control"
                        placeholder="Acompañante"
                        type="text"
                        formControlName="acudientepac"
                      />
                    </div>
                  </div>

                  <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Contacto de Acompañante </label>
                      <input
                        class=" form-control"
                        placeholder="Contacto"
                        type="text"
                        formControlName="contactoacudientepac"
                      />
                    </div>
                  </div>

                  <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Responsable del paciente </label>
                      <input
                        class=" form-control"
                        placeholder="Contacto"
                        type="text"
                        formControlName="resppac"
                      />
                    </div>
                  </div>

                  <div class=" col-md-2 pr-md-1">
                    <div class=" form-group">
                      <label> Contacto del responsable </label>
                      <input
                        class=" form-control"
                        placeholder="Contacto"
                        type="text"
                        formControlName="contactrespac"
                      />
                    </div>
                  </div>

                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label > Tipo de paciente</label>
                      <p></p>
                      <select class="form-select" style="width: auto;" formControlName="tipac">
                        <option value="" disabled selected>Seleccione tipo de paciente</option>
                        <option *ngFor="let tp of tipopac" [value]="tp.idtipac">{{tp.dettipac}}</option>
                      </select>
                    </div>
                  </div>

                  <div class=" col-md-3 pr-md-1">
                    <div class=" form-group">
                      <label>Entidad responsable de pago </label>
                      <select class="form-select" style="width: auto;" formControlName="entidad">
                          <option value="" disabled selected>Seleccione la entidad</option>
                          <option *ngFor="let eapb of entidad" [value]="eapb.ideapb">{{eapb.nomeapb}}</option>
                       </select>
                    </div>
                  </div>

                  
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit" [disabled]="formpac.invalid">Save</button>
            </div>
            </form>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
