<div class=" content">
    <div class=" row">
      <div class=" col-md-8">
        <div class=" card">
          <div class=" card-header"><h2 class=" title">Creacion de Usuarios</h2></div>
          <div class=" card-body">
            <form [formGroup]="formuser" (ngSubmit)="creaUser()" >
              <div class=" row">
                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Tipo de documento </label>
                    <select class="form-select" style="width: auto;" formControlName="typeiduser_fk">
                      <option value="" disabled selected> Tipo de documento </option>
                      <option *ngFor="let td of tipodoc" [value]="td.idtipdoc">{{td.detatipdoc}}</option>
                    </select>
                  </div>
                </div>

                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Documento </label>
                    <input
                      class=" form-control"
                      placeholder="Documento"
                      type="text"
                      formControlName="docuser"
                    />
                  </div>
                </div>
                <div class=" col-md-3 px-md-1">
                  <div class=" form-group">
                    <label> Nombres </label>
                    <input
                      class=" form-control"
                      placeholder="Nombres"
                      type="text"
                      formControlName="firstname"
                    />
                  </div>
                </div>

                <div class=" col-md-3 px-md-1">
                    <div class=" form-group">
                      <label> Apellidos </label>
                      <input
                        class=" form-control"
                        placeholder="Apellidos"
                        type="text"
                        formControlName="lastname"
                      />
                    </div>
                  </div>
                   <div class=" col-md-3 px-md-1">
                    <div class=" form-group">
                      <label> Username </label>
                      <input
                        class=" form-control"
                        placeholder="Username"
                        type="text"
                        formControlName="username"
                      />
                    </div>
                  </div>
  
                  <div class=" col-md-3 px-md-1">
                      <div class=" form-group">
                        <label> Pasword </label>
                        <input
                          class=" form-control"
                          placeholder="pasword"
                          type="password"
                          formControlName="password"
                        />
                      </div>
                    </div>
                <div class=" col-md-3 pl-md-1">
                  <div class=" form-group">
                    <label > Email address </label>
                    <input
                      class=" form-control"
                      placeholder="Correo electronico"
                      type="email"
                      formControlName="emailuser"
                    />
                  </div>
                </div>
                <div class=" col-md-3 pr-md-1">
                  <div class=" form-group">
                    <label> Cargo </label><p></p>
                    <select class="form-select" style="width: auto;" formControlName="carguser_fk">
                      <option value="" disabled selected>Cargo </option>
                      <option *ngFor="let carg of cargo" [value]="carg.idcarguser">{{carg.detcarguser}}</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class=" card-footer">
                <button class=" btn btn-fill btn-danger" type="submit" [disabled]="formuser.invalid">Save</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
   </div>
  </div>
