<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">PANEL DE ADMINISTRACION PARA CREACION DE TIPOS DE MEDICAMENTOS E INSUMOS</h4>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Digita el tipo de medicamento o insumo a consultar">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="container mt-3">
      <h2>Listado de tipo de medicamentos e insumos creados</h2>
      <h1 *ngIf="!ready">Cargando...</h1>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" (click)="ircreatipomedins()"  >Crear Tipo de medicamentos</button>    
  </form>         
       <table class="table table-dark table-hover" id="" *ngIf="ready" >
        <!--<table class="table-success">-->
        <thead>
          <tr>
            <th>Item</th>
            <th>Tipo de medicamento o insumo</th>
            <th>Detalle</th>
            <th>Fecha de creación</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of tmedins, let i =index">
            <td>{{i+1}}</td>
            <td>{{c.typmedins}}</td>
            <td>{{c.detypmedins}}</td>
            <td>{{c.datecreatymedins}}</td>
            <td>{{c.esttymedins_fk.nomstatus}}</td>
            <td><button>editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
  
  

