<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="title">Listado de eventos por paciente activos</h1>
        </div>
        <div class="card-body">
          <form class="d-flex" style="width: 60%;">
            <input class="form-control me-2" type="text" placeholder="Digita el paciente a consultar">
            <button class="btn btn-primary" type="button">Buscar</button>
          </form>

          <div class="container col-md-12 mt-3">
            <h2>Listado de eventos asignados</h2>
            <h1 *ngIf="!ready">Cargando...</h1>

            <button class="btn btn-primary mb-3" (click)="irCreaEvento()">Asignar Eventos</button>

            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>Evento</th>
                  <th>Consecutivo</th>
                  <th>Documento</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Entidad</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of event; let i = index">
                  <td>{{c.idevent}}</td>
                  <td>{{c.conseventpac}}</td>
                  <td>{{c.pacevent_fk.numdocpac}}</td>
                  <td>{{c.pacevent_fk.primernompac}} {{c.pacevent_fk.segundonompac}}</td>
                  <td>{{c.pacevent_fk.primerapepac}} {{c.pacevent_fk.segundoapepac}}</td>
                  <td>{{c.pacevent_fk.entidad.nomeapb}}</td>
                  <td>{{c.estevent_fk.detstatus}}</td>
                  <td>
                    <select class="form-select" (change)="redirigir($event.target.value, c)">
                      <option value="" disabled selected>Seleccione el destino</option>
                      <option *ngFor="let key of objectKeys(rutasDestino)" [value]="key">
                        {{ rutasDestino[key] | titlecase }}
                      </option>
                    </select>
                  </td>
                  
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>