<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class=" card-header">
          <h1 class=" title">Listado de eventos por paciente activos</h1>
        </div>
        <div class="card-body">
          <form class="d-flex" style="width: 60%;">
            <input class="form-control me-2" type="text" placeholder="Digita el paciente a consultar">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>