<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">CREACION DE CAMAS</h4>
          </div>
        </div>
      </div>
    </div>
    
    <form>
      <div class="row">
        <div class="col-md-3">
          <label class="form-label">Cama:</label>
          <input type="text" class="form-control" id="nomhab" placeholder="Digite la cama a crear" name="nomhab" style="width: min-content;">
        </div>
        <div class="col-md-3">
          <label class="form-label">Detalle de cama:</label>
          <input type="text" class="form-control" id="dethab" placeholder="Digite el detalle de la cama" name="dethab" style="width: min-content;">
        </div>
        
        <div class="col-md-12">
          <label class="form-label">Ubicación de la cama:</label>
          <select id="ubicahab">
            <option value="">Seleccione una ubicación</option>
          </select>
        </div>
      </div>      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   